@page "/admin"
@attribute [Display(Name = "Administration", ShortName = "Admin", GroupName = "Main", Prompt = "bi-shield-lock")]

<h2>Active Users</h2>


<h2>Recent Activity</h2>


<h2>Server Status</h2>

