@page "/"
@page "/index.html"
@page "/app.html"
@page "/{*notFound}"

@if (!String.IsNullOrWhiteSpace(notFound))
{
    if(DefaultRoot != null)
    {
        __builder.OpenComponent(0, DefaultRoot);
        __builder.CloseComponent();
    }
    else
    {
        <NotFoundControl />
        return;
    }
}
else
{
    if (DefaultRoot != null)
    {
        __builder.OpenComponent(0, DefaultRoot);
        __builder.CloseComponent();
    }
    else
    {
        <div class="flash-card animate-in">
            TODO: Find a home page.
        </div>
    }
}

@code
{
    // TODO: find the best home page based on the plugins loaded.
    [CascadingParameter] public Type? DefaultRoot { get; set; }
    [Parameter] public string? notFound { get; set; }

}