<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/_content/FlashCard/css/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/_content/FlashCard/css/app.css" />
    <link rel="stylesheet" href="/_content/FlashCard/css/layout.css" />
    <link rel="stylesheet" href="/_content/FlashCard/css/style.css" />
    <link rel="stylesheet" href="/_content/FlashCard/css/nav.css" />
    <link rel="stylesheet" href="/_content/FlashCard/css/menu.css" />
    <link rel="stylesheet" href="/_content/FlashCard/css/study.css" />
    <link rel="stylesheet" href="/_content/FlashCard/css/tabs.css" />
    <link rel="stylesheet" href="/_content/FlashCard/css/course.css" />
    <link rel="stylesheet" href="/_content/FlashCard/css/timeline.css" />
    <link rel="stylesheet" href="/_content/FlashCard/css/forms.css" />
    <link rel="stylesheet" href="/_content/FlashCard/css/awards.css" />
    <link rel="stylesheet" href="/_content/FlashCard/css/console.css" />
    <link rel="stylesheet" href="/_content/FlashCard/css/theme.css" />
    <link rel="icon" type="image/png" href="_content/FlashCard/favicon.ico" />
    <AntiforgeryToken />
</head>

<body>
    @*@rendermode="InteractiveAuto" *@
    @*new InteractiveServerRenderMode(prerender: false)*@
    @*InteractiveWebAssembly*@
    <Routes @rendermode="preferredMode" />
    @*<FlashCard.Pages.Shared.ReconnectModal />*@
    <script src="/_content/WebClient/main.js"></script>
    <script src="/_content/WebClient/blazor.web.js" autostart="false"></script>
    <!--
    <script src="/_framework/blazor.server.js" autostart="false"></script>
    <script src="/_framework/blazor.webview.js" autostart="false"></script>
    <script src="/_framework/blazor.webassembly.js" autostart="false"></script>
    -->
    <script>
        document.addEventListener("DOMContentLoaded", startBlazor);
        
        manageServiceWorker();

    </script>

    @if (IsDebug)
    {
        <script>
            (function() {
            const originalInvoke = DotNet.invokeMethodAsync;
            DotNet.invokeMethodAsync = function(assemblyName, methodName, ...args) {
            console.log(`[JS Interop] Calling: ${methodName} in ${assemblyName}`, "Args:", args);
            return originalInvoke.apply(this, [assemblyName, methodName, ...args]);
            };
            })();
        </script>
    }

</body>

</html>

@code {

    [Inject(Key = nameof(StringExtensions.Query))] public Lazy<Dictionary<string, string>?>? Query { get; set; } = null;

    // Default to Wasm, but allow an override
    IComponentRenderMode preferredMode = RenderMode.InteractiveServer;

    [Inject] public NavigationManager? Navigation { get; set; } = null;
    
    private bool IsDebug = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
#if DEBUG
        IsDebug = true;
#endif

        if(Navigation?.Uri.Contains("#mode=server") == true)
        {
            preferredMode = InteractiveServer;
        }
        else if (Query?.Value != null && Query.Value.TryGetValue("mode", out var mode) == true)
        {
            preferredMode = mode == "server"
                ? RenderMode.InteractiveServer
                : RenderMode.InteractiveWebAssembly;
        }

        Console.WriteLine($"Starting in {preferredMode.ToString()} mode");

    }

}
