
.top-row > span:first-child,
.top-row > .contextual-menu {
    flex-grow: 1;
}

.top-row > .contextual-menu {
    white-space: nowrap;
    max-width: 100%;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 1000px;
    transition: max-width ease-in-out 0.6s;
}

.top-row > .contextual-menu a,
.top-row > .contextual-menu button
{
    cursor:pointer;
}

.bi-study::before {
    content: " ";
    mask: url(/_content/RazorSharp/triangle.svg) no-repeat center / contain;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-color: currentColor;
    color: white;
}

.top-row > * {
    flex-shrink: 1;
    transition: color ease-in-out 0.6s;
    color: white;
}

header.top-row > h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    min-width: 0;
    margin: 0;
}

.page .top-row > a,
.page .contextual-menu a {
    color: white;
    transition: color ease-in-out 0.6s;
}

header.top-row > h2 ~ .contextual-menu {
    display: flex;
    align-items: flex-end;
}


header.top-row a, .top-row .btn-link {
    white-space: nowrap;
    text-decoration: none;
}

header.top-row a:hover, .top-row .btn-link:hover {
    text-decoration: underline;
}

header.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}


.header-link {
    display: flex;
    align-items: center;
    gap: 1px;
    padding: 4px;
    border-radius: 6px;
    color: #6c757d;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    border: 2px solid transparent;
    margin-left: 10px;
}

/* The "Highlight" state for the current page */
.header-link.active {
    border-color: rgba(13, 110, 253, 0.2);
    font-weight: 600;
}

.header-link:hover:not(.active) {
}

.header-text {
    font-size: 0.9rem;
}


@media (max-width: 1300px) {
    .top-row > .contextual-menu > *:nth-last-child(6) {
        display: none;
    }
}

@media (max-width: 1200px) {
    .top-row > .contextual-menu > *:nth-last-child(5) {
        display: none;
    }
}

@media (max-width: 1100px) {
    .top-row > .contextual-menu > *:nth-last-child(4) {
        display: none;
    }
}

@media (max-width: 1000px) {
    .top-row > .contextual-menu > *:nth-last-child(3) {
        display: none;
    }
}

@media (max-width: 900px) {
    .top-row > .contextual-menu > *:nth-last-child(2) {
        display: none;
    }
}


@media (max-width: 640px)
{
    .top-row > .contextual-menu > *:nth-last-child(1) {
        display: none;
    }

    header.top-row > h2 ~ .contextual-menu {
        display: none;
    }

    .top-row > .contextual-menu > *:nth-last-child(6),
    .top-row > .contextual-menu > *:nth-last-child(5) {
        display: none;
    }

    .top-row > .contextual-menu > *:nth-last-child(3),
    .top-row > .contextual-menu > *:nth-last-child(2),
    .top-row > .contextual-menu > *:nth-last-child(1) {
        display: flex;
    }

    header.top-row > h2 ~ .contextual-menu {
        display: flex;
    }
}


@media (max-width: 600px) {
    .top-row > .contextual-menu > *:nth-last-child(4),
    .top-row > .contextual-menu > *:nth-last-child(3) {
        display: none;
    }
}

@media (max-width: 500px) {
    .top-row > .contextual-menu > *:nth-last-child(2) {
        display: none;
    }
}

@media (max-width: 350px) {
    .top-row > .contextual-menu > *:nth-last-child(1) {
        display: none;
    }

    header.top-row > h2 ~ .contextual-menu {
        display: none;
    }
}
