@using FlashCard.Services
@inject IChatService ChatService
@inject IJSRuntime JS

<div id="Navlist" class="nav-scrollable chat" @onscroll="() => ToggleAutoScroll()">

    <div class="chat-message from">
        <span>Your chat will appear here...</span>
        <span>@(DateTime.Now.ToLongTimeString())</span>
    </div>
    @foreach (var item in ChatService.Recents ?? new())
    {
        <div class="chat-message @(item.Value.Item1 == true ? "from" : "to")">
            <span>@(item.Value.Item2)</span>
            <span>@(item.Key.ToLongTimeString())</span>
        </div>
    }

</div>

@code
{
    public bool Chat = false;
    public bool _chatMode = false;
    public bool? ShowChat = null;

    public bool AutoScroll = true;




    protected override void OnInitialized()
    {
        base.OnInitialized();
        ChatService.OnChatWorking += SetChat;
        ChatService.OnChatChanged += SetChatMode;
        ChatService.OnChatMessage += RefreshChat;
        _ = ChatService.IsWorking();
    }

    private void SetChat(bool? chat)
    {
        if (chat != ShowChat)
        {
            ShowChat = chat;
            this.StateHasChanged();
        }
    }

    public void SetChatMode(bool chat)
    {
        if (Chat != chat)
        {
            Chat = chat;
            this.StateHasChanged();
            if (Chat == true)
            {
                _ = ScrollToBottom();
            }
        }
    }

    public void Dispose()
    {
        ChatService.OnChatWorking -= SetChat;
        ChatService.OnChatChanged -= SetChatMode;
        ChatService.OnChatMessage -= RefreshChat;
    }


    protected async Task ToggleAutoScroll()
    {
        _ = DataLayer.Utilities.Extensions.TaskExtensions.Debounce(async () => {
            var bottom = await JS.InvokeAsync<bool?>("isScrolledToBottom", "Navlist");
            AutoScroll = bottom == true;
        }, 200);

    }

    private CancellationTokenSource? _autoScrollLoopCts;

    protected async Task LaunchAutoScrollLoop()
    {
        _autoScrollLoopCts = DataLayer.Utilities.Extensions.TaskExtensions.Timer(async () =>
        {
            var isBottom = await JS.InvokeAsync<bool?>("isScrolledToBottom", "Navlist");

            if (isBottom == true)
            {
                _autoScrollLoopCts?.Cancel();
            }

            await JS.InvokeVoidAsync("scrollSlightly", "Navlist");
        });
    }


    protected async Task ScrollToBottom()
    {
        await Task.Delay(50);
        await JS.InvokeVoidAsync("scrollToBottom", "Navlist");
    }
    
    public void RefreshChat()
    {
        if (Chat)
        {
            this.StateHasChanged();
            _ = LaunchAutoScrollLoop();
        }
    }

}