@using FlashCard.Services
@inject IChatService ChatService
@inject IPageManager PageManager

<div id="Navlist" class="nav-scrollable chat">

    <div class="chat-message from">
        <span>Your chat will appear here...</span>
        <span>@(DateTime.Now.ToLongTimeString())</span>
    </div>
    @foreach (var item in ChatService.Recents ?? new())
    {
        <div class="chat-message @(item.Value.Item1 == true ? "from" : "to")">
            <span>@(item.Value.Item2)</span>
            <span>@(item.Key.ToLongTimeString())</span>
        </div>
    }

</div>

@code
{
    public bool Chat = false;
    public bool _chatMode = false;
    public bool? ShowChat = null;

    public bool AutoScroll = true;




    protected override void OnInitialized()
    {
        base.OnInitialized();
        ChatService.OnChatWorking += SetChat;
        ChatService.OnChatChanged += SetChatMode;
        ChatService.OnChatMessage += RefreshChat;
        _ = ChatService.IsWorking();
    }

    private void SetChat(bool? chat)
    {
        if (chat != ShowChat)
        {
            ShowChat = chat;
            InvokeAsync(StateHasChanged);
        }
    }

    public void SetChatMode(bool chat)
    {
        if (Chat != chat)
        {
            Chat = chat;
            InvokeAsync(StateHasChanged);
            if (Chat == true)
            {
                _ = PageManager.ScrollToBottom("Navlist");
            }
        }
    }

    public void Dispose()
    {
        ChatService.OnChatWorking -= SetChat;
        ChatService.OnChatChanged -= SetChatMode;
        ChatService.OnChatMessage -= RefreshChat;
        PageManager.OnScroll["Navlist"] -= ToggleAutoScroll;
    }


    protected void ToggleAutoScroll(string id, bool isBottom)
    {
        AutoScroll = isBottom;

    }

    private CancellationTokenSource? _autoScrollLoopCts;

    protected async Task LaunchAutoScrollLoop()
    {
        if (!AutoScroll) return;

        _autoScrollLoopCts = DataLayer.Utilities.Extensions.TaskExtensions.Timer(async () =>
        {
            var isBottom = await PageManager.IsAtBottomAsync("Navlist");

            if (isBottom == true)
            {
                _autoScrollLoopCts?.Cancel();
            }

            await PageManager.ScrollSlightlyAsync("Navlist");
        });
    }


    public void RefreshChat()
    {
        if (Chat)
        {
            InvokeAsync(StateHasChanged);
            _ = LaunchAutoScrollLoop();
        }
    }

}