
@inject IChatService ChatService
@inject IPageManager PageManager

<div id="Navlist" class="nav-scrollable chat">

    <div class="chat-message from">
        <span>Your chat will appear here...</span>
        <span>@(DateTime.Now.ToLongTimeString())</span>
    </div>
    @foreach (var item in ChatService.Recents ?? new())
    {
        <div class="chat-message @(item.Value.Item1 == true ? "from" : "to")">
            <span>@(item.Value.Item2)</span>
            <span>@(item.Key.ToLongTimeString())</span>
        </div>
    }

</div>

@code
{
    public bool Chat = false;
    public bool _chatMode = false;
    public bool? ShowChat = null;
    public string? ChatMessage { get; set; }
    public bool AutoScroll = true;


    public RenderFragment? MainLayoutInsert => ShowChat == true ? @<div class="chat-box">
        <input @onkeydown="HandleKeyDown" @bind:event="oninput" @bind="ChatMessage" type="text" placeholder="Type your message here..." /><button class="cta" @onclick="SendMessage">Send</button>
    </div> :  null;
    

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        // If Enter is pressed without Shift
        if (e.Key == "Enter" && !e.ShiftKey)
        {
            SendMessage(null);
        }
    }

    protected void SendMessage(MouseEventArgs? args)
    {
        if (string.IsNullOrWhiteSpace(ChatMessage))
        {
            ChatMessage = "";
            return;
        }
        _ = ChatService.SendMessage(ChatMessage ?? "");
        ChatMessage = "";
        // No need to InvokeAsync(StateHasChanged) because the SendMessage event handler will invoke it
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ChatService.OnChatWorking += SetChat;
        ChatService.OnChatChanged += SetChatMode;
        ChatService.OnChatMessage += RefreshChat;
        _ = ChatService.IsWorking();
    }

    private void SetChat(bool? chat)
    {
        if (chat != ShowChat)
        {
            ShowChat = chat;
            InvokeAsync(StateHasChanged);
        }
    }

    public void SetChatMode(bool chat)
    {
        if (Chat != chat)
        {
            Chat = chat;
            InvokeAsync(StateHasChanged);
            if (Chat == true)
            {
                _ = PageManager.ScrollToBottom("Navlist");
            }
        }
    }

    public void Dispose()
    {
        ChatService.OnChatWorking -= SetChat;
        ChatService.OnChatChanged -= SetChatMode;
        ChatService.OnChatMessage -= RefreshChat;
        PageManager.OnScroll["Navlist"] -= ToggleAutoScroll;
    }


    protected void ToggleAutoScroll(string id, bool isBottom)
    {
        AutoScroll = isBottom;

    }

    private CancellationTokenSource? _autoScrollLoopCts;

    protected async Task LaunchAutoScrollLoop()
    {
        if (!AutoScroll) return;

        _autoScrollLoopCts = TaskExtensions.Timer(async () =>
        {
            var isBottom = await PageManager.IsAtBottomAsync("Navlist");

            if (isBottom == true)
            {
                _autoScrollLoopCts?.Cancel();
            }

            await PageManager.ScrollSlightlyAsync("Navlist");
        });
    }


    public void RefreshChat()
    {
        if (Chat)
        {
            InvokeAsync(StateHasChanged);
            _ = LaunchAutoScrollLoop();
        }
    }

}