@inject IChatService Chat
@implements IHasLayout

@code {
    public bool Show(NavigationManager _) => Chat.Chat;

    public RenderFragment MainLayoutInsert() 
    {
        if(Chat.Chat == true)
        {
            return __builder =>
            {
                <div class="chat-box">
                    <input @onkeydown="HandleKeyDown" @bind:event="oninput" @bind="ChatMessage" type="text" placeholder="Type your message here..." />
                    <button class="cta" @onclick="SendMessage">Send</button>
                </div>
            };
        }
        else
        {
            return _ => { };
        }
    }

    protected void SendMessage(MouseEventArgs? args)
    {
        if (string.IsNullOrWhiteSpace(ChatMessage))
        {
            ChatMessage = "";
            return;
        }
        _ = Chat.SendMessage(ChatMessage ?? "");
        ChatMessage = "";
        // No need to InvokeAsync(StateHasChanged) because the SendMessage event handler will invoke it
    }


    public string? ChatMessage { get; set; }


    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (string.IsNullOrWhiteSpace(ChatMessage))
        {
            ChatMessage = "";
            return;
        }
        if (e.Key == "Enter" && !e.ShiftKey)
        {
            _ = Chat.SendMessage(ChatMessage ?? "");
            ChatMessage = "";
        }
    }
}