@page "/install"

@using System.Net.Http.Json
@using FlashCard.Services
@inject HttpClient Http
@inject IChatService ChatService

<SyncedTitle Title="Install AI"></SyncedTitle>


<div class="flash-card animate-in">
    
    <div class="form-row">
        <label>Enable AI integration</label>
        <input type="checkbox" />
    </div>


    Instructions for setting up <a href="https://github.com/lllyasviel/stable-diffusion-webui-forge">Automatic1111</a> and <a href="https://github.com/ggml-org/llama.cpp">llama.cpp/GGUF</a>.

    <h2>Parameter Builder</h2>

    Test the image generator and LLM with local HTTP requests.

    <div class="row">
        <div>
            <label>Load Preset</label>
            <select class="form-control" @bind="SelectedPreset">
                <option value="">-- Select a Service --</option>
                @foreach(var preset in Services) {
                    <option value="@preset.Name">@preset.Name</option>
                }
            </select>
        </div>
        <div>
            <label>Service Endpoint</label>
            <input type="text" @bind="ServiceUrl" class="form-control" placeholder="http://localhost:11434/api/generate" />
        </div>
        <div>
            <label>Model Name</label>
            <input type="text" @bind="ModelName" class="form-control" placeholder="llama3" />
        </div>
        <div>
            <label>API Key</label>
            <input type="text" @bind="ApiKey" class="form-control" placeholder="Api Key @(ApiKeySample)" />
        </div>
        <div>
            <label>Response Path</label>
            <input type="text" @bind="ResponsePath" class="form-control" placeholder="response.path" />
        </div>
    </div>

    <button class="cta" @onclick="AddParameter">+ Add</button>
    <table class="table">
        <thead>
            <tr>
                <th>Key</th>
                <th>Type</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var parameter in Parameters)
            {
                <tr>
                    <td><input type="text" @bind="parameter.Key" class="form-control" /></td>
                    <td>
                        <select @bind="parameter.Type" class="form-control">
                            <option value="string">String</option>
                            <option value="number">Number</option>
                            <option value="boolean">Boolean</option>
                        </select>
                    </td>
                    <td>
                        @if (parameter.Type == "boolean") {
                            <input type="checkbox" @bind="parameter.BoolValue" />
                        } else {
                            <input type="text" @bind="parameter.Value" class="form-control" />
                        }
                    </td>
                    <td>
                        @if(Parameters.Count() > 1)
                        {
                            <button class="btn btn-danger btn-sm" @onclick="() => Parameters.Remove(parameter)">X</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="cta" @onclick="ExecutePost">Send Request</button>

    <hr />
    <pre>@ResponseJson</pre>

    <h2>Recent Activity</h2>


    Usage information on what queries are being used by the application.
</div>
@code {
    private bool? IsWorking = null;
    private string ServiceUrl = "http://localhost:11434/api/generate";
    private string ModelName = "llama3";
    private string ApiKey = "";
    private string ApiKeySample = "";
    private string ResponsePath = "response";
    private string ResponseJson = "Result will appear here...";
    private List<DynamicParam> Parameters = new() { new DynamicParam() };
    private List<ServicePreset> Services = new();

    protected string? _selectedPreset = null;
    protected string? SelectedPreset
    {
        get
        {
            return _selectedPreset;
        }
        set
        {
            _selectedPreset = value;
            ApplyPreset(value);
        }
    }

    private void ApplyPreset(string? value) {
        var preset = Services.FirstOrDefault(p => p.Name == value);
        if (preset != null) {
            ServiceUrl = preset.Url;
            ModelName = preset.DefaultModel;
            if(!string.IsNullOrWhiteSpace(preset.ApiKey))
            {
                ApiKeySample = "(" + preset.ApiKey + ")";
            } 
            else
            {
                ApiKeySample = "";
            }
            Parameters = preset.Params.ToList(); // Clone the list
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _ = InitializePresets();
        _ = ChatService.IsWorking();
    }


    protected async Task InitializePresets()
    {
        Services = await ChatService.ListPresets();
        SelectedPreset = Services?.FirstOrDefault(s => s.IsDefault)?.Name
            ?? Services?.FirstOrDefault(s => s.IsPrevious)?.Name;
        StateHasChanged();
    }

    private void AddParameter() => Parameters.Add(new DynamicParam());

    private async Task ExecutePost() {
        var result = await ChatService.PingService(ServiceUrl, ModelName, ApiKey, ResponsePath, Parameters);
        IsWorking = result.Item1;
        ResponseJson = result.Item2 ?? "No response...";
        StateHasChanged();
    }
}