@implements IHasContext

@foreach (var item in HeaderLinks)
{
    <NavLink class="header-link" href="@item.Href" Match="NavLinkMatch.All">
        <i class="bi @item.Icon" aria-hidden="true"></i>
        <span class="header-text">@item.Title</span>
    </NavLink>
}

@code {
    private List<INavMenuItem> HeaderLinks = new()
    {
        new NavMenuItem<Pages.Content.Analytics>() { Title = "Analytics", Icon = "bi-graph-up-arrow" },
        new NavMenuItem<Pages.Content.Analysis>() { Title = "Analysis", Icon = "bi-search-heart" },
        new NavMenuItem<Pages.Content.Backups>() { Title = "Backups", Icon = "bi-device-hdd" },
        new NavMenuItem<Pages.Content.Merchant>() { Title = "Merchant Tools", Icon = "bi-shop" },
        new NavMenuItem<Pages.Content.Recovery>() { Title = "Recovery", Icon = "bi-life-preserver" }
    };

    public static Delegate ShowContext { get => (Type routeControl) 
        => routeControl == typeof(Pages.Content.Analysis); }
    
    public static Delegate ContextInsert
    {
        get => (Func<RenderFragment>)(() => __builder =>
        {
            __builder.OpenComponent<Pages.Shared.Content>(0);
            __builder.CloseComponent();
        });
    }
}

