@page "/upload"
@attribute [Display(Name = "Import Packs", GroupName = "Content", Prompt = "bi-cloud-arrow-up")]
@implements IDisposable
@inject IAnkiService AnkiService
@inject IPageManager Page
@inject IFileManager FileManager
@inject IQueryManager QueryManager

<div class="flash-card animate-in @(isDragOver ? "dropping" : "")"
     @ondragover:preventdefault="true"
     @ondragenter:preventdefault="true"
     @ondragover="HandleDragOver"
     @ondragleave="HandleDragLeave"
     @ondrop="HandleDrop">
    <div class="drop-shader"><span class="bi bi-cloud-upload"></span><br /><span>Drop Anki Files</span></div>

    <h2>Upload Anki</h2>
    Upload pack content from Anki or spreadsheet.<br />
    <input type="text" placeholder="Search..." @bind="Search" />
    <heading class="flex-row">
        <label></label>
        <label>File Name</label>
        <label>Url</label>
        <label>Source</label>
        <label>Actions</label>
    </heading>

    <MetadataControl ValueChanged="Page.AnkiSelected" TModel="FlashData.Entities.File" Model="@FilesLayout" Data="@Uploads?.Take(Take).ToList()"></MetadataControl>

    <div class="link-list">
        @if (!OperatingSystem.IsWindows())
        {
            <InputFile class="cta" OnChange="Page.Upload" />
        }
        else
        {
            <button class="btn btn-primary" @onclick="() => FileManager.OpenFileDialog()">
                <i class="bi bi-file-earmark-plus"></i>Open File
            </button>
        }
    </div>

    <h2>Content Controls</h2>

    Import content into a group or release schedule.
    <h4>Anki Files</h4>
    <heading class="flex-row">
        <label></label>
        <label>File Name</label>
        <label>Url</label>
        <label>Source</label>
        <label>Actions</label>
    </heading>
    <MetadataControl TModel="File" Model="@FilesLayout" Data="@Inside?.Take(Take).ToList()"></MetadataControl>


    <h4>Converted Cards</h4>
    <heading class="flex-row">
        <label></label>
        <label>Prompt</label>
        <label>Response</label>
        <label>Type</label>
        <label>Answers</label>
        <label>Actions</label>
    </heading>
    <MetadataControl TModel="EditCardControl.EditControl" Model="@CardsLayout" Data="@CurrentCards?.Take(Take).ToList()"></MetadataControl>

</div>


@code
{
    // TODO: decide when to synchronize the file storage with memory storage
    [Category("Display")]
    public List<File>? Uploads { get; set; }
    public List<File>? AnkiSearch { get; set; }
    public IEnumerable<File>? Inside { get; set; }
    [Category("Content")]
    public List<EditCardControl.EditControl>? CurrentCards { get; set; }
    public IEnumerable<PropertyMetadata>? FilesLayout { get; set; }
    public IEnumerable<PropertyMetadata>? CardsLayout { get; set; }

    public int Take { get; set; } = 10;
    public int Skip { get; set; } = 0;

    protected string? _search;
    public string? Search { get => _search; set 
        {
            _search = value;        
            _ = InitAnkiSearch();
        } 
    }

    protected async Task InitAnkiSearch()
    {
        AnkiSearch = (await AnkiService.Search(Search))?.ToList();
        if (AnkiSearch == null)
        {
            return;
        }
        Uploads?.AddRange(AnkiSearch);
        await InvokeAsync(StateHasChanged);
    }

    bool isDragOver = false;

    void HandleDragOver() => FileManager.SetDragging(true);
    void HandleDragLeave() => FileManager.SetDragging(false);

    protected override void OnInitialized()
    {
        base.OnInitialized();
        MenuService.SetMenu(@<FlashCard.Pages.Shared.Packs />);
        FilesLayout = typeof(Pages.Content.Upload).Metadata().Categories["Display"]?.ToList();
        CardsLayout = typeof(Pages.Content.Upload).Metadata().Categories["Content"]?.ToList();
        FileManager.OnFileDragging += OnDragging;
        _ = PopulateUploads();
    }

    protected void OnAnkiSelected(Tuple<PropertyMetadata, File, object?> callback)
    {
        var ankiResults = callback.Item3 as Tuple<IEnumerable<File>, IEnumerable<Card>>;
        if (ankiResults == null) return;

        Inside = ankiResults.Item1;
        CurrentCards = ankiResults.Item2.Select(c => new EditCardControl.EditControl() { Card = c }).ToList();
    }


    protected async Task PopulateUploads()
    {
        Uploads = await QueryManager.Synchronize<File>(f => f.Source == "Upload" || f.Source == "AnkiDownloads");
    }


    protected void OnDragging(bool dragging)
    {
        isDragOver = dragging;
        InvokeAsync(StateHasChanged);
    }

    protected async Task HandleFileSelection(InputFileChangeEventArgs e)
    {
        isDragOver = false;
        // TODO: move this to IFormFactor
        // TODO: port over form checker from clearview project
        // Process the dropped files
        foreach (IBrowserFile file in e.GetMultipleFiles())
        {
            _ = FileManager.UploadFile(file.OpenReadStream(), file.Name);
            // Access file properties like file.Name, file.Size, etc.
            // You can read the file stream here:
            // using var stream = file.OpenReadStream();
            // ... further processing ...
        }
        await InvokeAsync(StateHasChanged);
    }



    protected async Task HandleDrop(DragEventArgs e)
    {
        _ = FileManager.SetDragging(false);
        // In Blazor Hybrid, e.DataTransfer.Files is usually populated
        if (e.DataTransfer.Files != null)
        {
            foreach (var file in e.DataTransfer.Files)
            {
                _ = FileManager.UploadFile(file);
            }
        }

        await InvokeAsync(StateHasChanged);

    }



    public void Dispose()
    {
        FileManager.OnFileDragging -= OnDragging;
    }
}
