@foreach (var item in HeaderLinks)
{
    <NavLink class="header-link" href="@item.Href" Match="NavLinkMatch.All">
        <i class="bi @item.Icon" aria-hidden="true"></i>
        <span class="header-text">@item.Title</span>
    </NavLink>
}

@code {
    private List<INavMenuItem> HeaderLinks = new()
    {
        new NavMenuItem<Pages.Landing.Search>() { Title = "Search", Icon = "bi-info-circle" },
        new NavMenuItem<Pages.Landing.EditPack>() { Title = "Create Pack", Uri = p => new() { Mode = ControlMode.Edit }, Icon = "bi-file-earmark-plus" },
        new NavMenuItem<Pages.Landing.Packs>() { Title = "My Packs", Uri = p => new() { Mode = ControlMode.Owner }, Icon = "bi-file-earmark-text" },
        new NavMenuItem<Pages.Landing.Packs>() { Title = "Purchases",  Uri = p => new() { Filter = "Purchased" }, Icon = "bi-shield-lock" },
        new NavMenuItem<Pages.Landing.Packs>() { Title = "Subscribe",  Uri = p => new() { Filter = "Subscribe" }, Icon = "bi-envelope-at" }
    };

}

