@page "/store"
@using FlashCard.Services
@inject IMenuService MenuService

<SyncedTitle Title="Store"></SyncedTitle>

<div class="flash-card animate-in">

    <h2>Newly Added</h2>


    <h2>Packs You Might Like</h2>


    <h2>Packs You Own</h2>
</div>

@code {

    protected override void OnInitialized()
    {
        // Define the contextual menu for THIS page
        MenuService?.SetMenu(@<FlashCard.Pages.Shared.Packs />);
    }

}