@page "/store"
@inject IMenuService MenuService
@attribute [Display(Name = "Store", GroupName = "Main", Prompt = "bi-cart")]

<div class="flash-card animate-in">

    <h2>Newly Added</h2>


    <h2>Packs You Might Like</h2>


    <h2>Packs You Own</h2>
</div>

@code {


}