@implements IDisposable

@attribute [Display(Name = "Study Packs", ShortName = "Packs", GroupName = "Main", Prompt = "bi-card-list")]
@page "/packs"
@page "/packs/list"
@page "/packs/owner"
@page "/packs/{Id:int}/add"
@page "/packs/{Filter}"
@implements IHasContext
@inject IMenuService MenuService
@inject NavigationManager Nav
@inject IServiceProvider Services
@inject ILoginService LoginService
@inject IQueryManager QueryManager

<div class="flash-card animate-in">

    @* do advertising for packs needing study *@
    <h2>Recent Packs</h2>
    <heading class="flex-row">
        <label></label>
        <label>Pack Name</label>
        <label>Category</label>
        <label>Card Count</label>
        <label>Last Studied</label>
        <label>Actions</label>
    </heading>
    <MetadataControl TModel="FlashData.Entities.Pack" Model="@RecentLayout" Data="Recent"></MetadataControl>

    <h2>Packs Needing Study</h2>

    <h2>Packs You Might Like</h2>

</div>

@code {
    public static Delegate ShowContext
    {
        get => (Type routeControl, NavigationManager Nav) => routeControl == typeof(Pages.Landing.Courses)
        || routeControl == typeof(Pages.Landing.Packs) || Nav.Uri.Contains("upload") || Nav.Uri.Contains("store");
    }

    public static Delegate ContextInsert => RenderExtensions.ToNavLink<Pages.Landing.Packs>(p => new() { Mode = ControlMode.Add });

    [CascadingParameter] public bool IsStaticRender { get; set; }

    [Category("Recent")]
    public List<FlashData.Entities.Pack> Recent { get; set; } = new();
    public List<FlashData.Entities.Pack> Study { get; set; } = new();
    public List<FlashData.Entities.Pack> Store { get; set; } = new();

    public IEnumerable<PropertyMetadata>? RecentLayout { get; set; }
    [Parameter] public string? Filter { get; set; } = null;
    [Parameter] public int? Id { get; set; } = null;
    public ControlMode? Mode { get; set; } = ControlMode.List;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RecentLayout = typeof(Pages.Landing.Packs).Metadata().Categories["Recent"]?.ToList();

        if (IsStaticRender) return;
    }

    protected void SetControlMode()
    {
        Recent.Clear();
        foreach (var course in (Type[])([typeof(Pages.Course.Course1), typeof(Pages.Course.Course2), typeof(Pages.Course.Course3)]))
        {
            var packs = GetCoursePack(course);
            Recent.AddRange(packs ?? []);
        }

        var relativePath = Nav.ToBaseRelativePath(Nav.Uri);

        var firstSegment = relativePath.Split('/').Last();

        Mode = firstSegment.TryParse<ControlMode>();

        // add/assign the pack to the users account for study
        if(Mode == ControlMode.Add)
        {
            _ = SubscribePack();
        }
    }


    protected async Task SubscribePack()
    {
        if (IsStaticRender) return;


        FlashData.Entities.Pack? currentPack = null;
        if (Id < 0 && Id >= -3)
        {
            Type[] packs = [typeof(Pages.Course.Course1), typeof(Pages.Course.Course2), typeof(Pages.Course.Course3)];
            currentPack = GetCoursePack(packs.ElementAt(Math.Abs(Id ?? 0) - 1))?.FirstOrDefault();
            if (currentPack?.Save() is Task<IEntity> task)
                currentPack = await task as FlashData.Entities.Pack;
            Id = currentPack?.Id;
        }

        if (LoginService.User != null && !QueryManager.Query<FlashData.Entities.UserPack>(up => up.UserId == LoginService.UserId).Any())
        {
            var up = new UserPack() { UserId = LoginService.UserId, Pack = currentPack };
            //LoginService.User.UserPacks.Add(up);
            up = await up.Save() as UserPack;
        }
        await InvokeAsync(StateHasChanged);

        //Nav.NavigateTo<Pack>(p => new Pack { Mode = PackMode.Card, Id = Id });
    }

    protected bool IsClosing = false;

    protected void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        SetControlMode();
    }


    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        SetControlMode();
        InvokeAsync(StateHasChanged);
    }

    protected static IEnumerable<FlashData.Entities.Pack>? GetCoursePack(Type? lesson)
    {
        var generator = lesson?.GetMethod(nameof(IGenerator<>.Generate), System.Reflection.BindingFlags.Static | System.Reflection.BindingFlags.Public);
        IEnumerable<FlashData.Entities.Pack>? packs = generator?.Invoke(null, []) as IEnumerable<FlashData.Entities.Pack>;
        return packs;
    }


    public void Dispose()
    {
        IsClosing = true;
    }

}