@implements IDisposable

@page "/packs"
@page "/packs/list"
@page "/packs/owner"
@page "/packs/{Id:int}/add"
@page "/packs/{Filter}"

@using Utilities.Extensions
@using Microsoft.EntityFrameworkCore
@using FlashCard.Controls
@using FlashCard.Services
@using System.ComponentModel
@inject IMenuService MenuService
@inject ILoginService LoginService
@inject NavigationManager Nav
@inject IServiceProvider Services

<SyncedTitle Title="Study Packs"></SyncedTitle>

<div class="flash-card animate-in">

    @* do advertising for packs needing study *@
    <h2>Recent Packs</h2>
    <heading class="flex-row">
        <label></label>
        <label>Pack Name</label>
        <label>Category</label>
        <label>Card Count</label>
        <label>Last Studied</label>
        <label>Actions</label>
    </heading>
    <MetadataControl TModel="Pack" Model="@RecentLayout" Data="Recent"></MetadataControl>

    <h2>Packs Needing Study</h2>

    <h2>Packs You Might Like</h2>

</div>

@code {

    [CascadingParameter(Name = "IsStaticRender")] public bool IsStaticRender { get; set; }

    [Category("Recent")]
    public List<Pack> Recent { get; set; } = new();
    public List<Pack> Study { get; set; } = new();
    public List<Pack> Store { get; set; } = new();

    public IEnumerable<PropertyMetadata>? RecentLayout { get; set; }
    [Parameter] public string? Filter { get; set; } = null;
    [Parameter] public int? Id { get; set; } = null;
    public ControlMode? Mode { get; set; } = ControlMode.List;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RecentLayout = typeof(Pages.Landing.Packs).Metadata().Categories["Recent"]?.ToList();

        if (IsStaticRender) return;

        MenuService?.SetMenu(@<FlashCard.Pages.Shared.Packs />);
    }

    protected void SetControlMode()
    {
        Recent.Clear();
        foreach (var course in (Type[])([typeof(Pages.Course.Course1), typeof(Pages.Course.Course2), typeof(Pages.Course.Course3)]))
        {
            var packs = GetCoursePack(course);
            Recent.AddRange(packs ?? []);
        }

        var relativePath = Nav.ToBaseRelativePath(Nav.Uri);

        var firstSegment = relativePath.Split('/').Last();

        Mode = firstSegment.TryParse<ControlMode>();

        // add/assign the pack to the users account for study
        if(Mode == ControlMode.Add)
        {
            _ = SubscribePack();
        }
    }


    protected async Task SubscribePack()
    {
        if (IsStaticRender) return;


        Pack? currentPack = null;
        if (Id < 0 && Id >= -3)
        {
            Type[] packs = [typeof(Pages.Course.Course1), typeof(Pages.Course.Course2), typeof(Pages.Course.Course3)];
            currentPack = GetCoursePack(packs.ElementAt(Math.Abs(Id ?? 0) - 1))?.FirstOrDefault();
            if (currentPack?.Save() is Task<Pack> task)
                currentPack = await task;
            Id = currentPack?.Id;
        }

        if (LoginService.User != null && !LoginService.User.UserPacks.Any(up => up.Pack?.Id == Id))
        {
            var up = new UserPack() { User = LoginService.User, Pack = currentPack };
            LoginService.User.UserPacks.Add(up);
            up = await up.Save();
        }
        await InvokeAsync(StateHasChanged);

        //Nav.NavigateTo<Pack>(p => new Pack { Mode = PackMode.Card, Id = Id });
    }

    protected bool IsClosing = false;

    protected void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        SetControlMode();
    }


    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        SetControlMode();
        InvokeAsync(StateHasChanged);
    }

    protected static IEnumerable<Pack>? GetCoursePack(Type? lesson)
    {
        var generator = lesson?.GetMethod(nameof(Generators.IGenerator<>.Generate), System.Reflection.BindingFlags.Static | System.Reflection.BindingFlags.Public);
        IEnumerable<Pack>? packs = generator?.Invoke(null, []) as IEnumerable<Pack>;
        return packs;
    }


    public void Dispose()
    {
        IsClosing = true;
    }

}