html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* TODO: look up cross platform system backups font-family: Verdana, Geneva, Tahoma, sans-serif; */
    -webkit-user-drag: none;
    height: 100%;
    line-height: 1.6em;
    /*backface-visibility: hidden;
            perspective: 1000px;
            will-change: transform;*/
}

*, ::before, ::after, *:focus, *:active {
    box-sizing: border-box;
    outline: none;
}


main.cover-page {
    flex: 1;
    max-width: 100%;
    min-width: 200px;
    padding: 0;
    overflow: auto;
    min-height: 100%;
    min-height: calc(100vh - 3.5rem);
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -250px;
    width: auto;
    height: 100%;
    z-index: 1000;
}

.cover-container {
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    pointer-events: none;
    backdrop-filter: blur(3px);
}

.cover-page td {
    padding: 10px;
    word-break: break-word;
}

.cover-page td[conspan] {
    text-align: center;
}

.cover-page .status-container {
    padding-bottom: 8rem;
    position: relative;
    text-align:center;
}

.cover-page .box-status {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 8rem;
    position: absolute;
}

.cover-page table {
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
}

.cover-page.layout table,
.cover-page.loaded table {
    max-height: 400px;
    max-height: calc(100vh - 50% - 10rem);
}

.cover-page.layout .cover-container {
    /*opacity: 60%;*/
}

.cover-page .content {
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

.cover-page.done-loading {
    opacity: 0;
}

.cover-page svg {
    width: 50%;
    height: 50%;
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 1;
}

#app {
    height: 100%;
    width: 100%;
}

.cover-page input {
    line-height: 1.6;
}

/* The container/track */
.cover-page input[type="checkbox"][disabled] {
    border: 1px solid lightgray;
}

.cover-page input[type="checkbox"][disabled]:checked {
    background-color: gray; /* iOS Green */
    border-color: darkgray;
}

.cover-page input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 60px;
    background-color: #e9e9ea; /* Off state gray */
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    border: 1px solid #d1d1d6; /* Light border */
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    align-items: center;
    display: flex;
    padding: 0;
}

/* The sliding dot (thumb) */
.cover-page input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    width: calc(1.6em - 4px);
    height: calc(1.6em - 4px);
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
    box-shadow: -1px -2px 5px inset rgba(0, 0, 0, 0.5);
}

.cover-page input[type="checkbox"]::after {
    content: "OFF";
    left: 30px;
    position: relative;
    /*top: 4px;*/
    font-size: 12px;
    transition: left 0.3s ease;
}


.cover-page input[type="checkbox"]:checked::after {
    content: "ON";
    left: 5px;
}

/* Active state (Background turns green) */
.cover-page input[type="checkbox"]:checked {
    background-color: #34c759; /* iOS Green */
    border-color: #34c759;
}

/* Slide the dot over when checked */
.cover-page input[type="checkbox"]:checked::before {
    transform: translateX(26px);
    transform: translateX(calc(60px - 1.6em - 2px));
}

/* Focus state for accessibility */
.cover-page input[type="checkbox"]:focus-visible {
    box-shadow: 0 0 0 2px rgba(52, 199, 89, 0.4);
}

.cover-page select,
.cover-page textarea,
.cover-page input,
.cover-page input[type="file"],
.cover-page input[type="email"],
.cover-page input[type="password"],
.cover-page input[type="number"],
.cover-page input[type="date"],
.cover-page input[type="text"] {
    line-height: 1.6em;
    padding: 4px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    min-width: auto;
    width: 100%;
    max-width: 100%;
}

.cover-page select:focus,
.cover-page select:active,
.cover-page textarea:focus,
.cover-page textarea:active,
.cover-page input,
.cover-page input[type="file"]:focus,
.cover-page input[type="file"]:active,
.cover-page input[type="email"]:focus,
.cover-page input[type="email"]:active,
.cover-page input[type="password"]:focus,
.cover-page input[type="password"]:active,
.cover-page input[type="number"]:focus,
.cover-page input[type="number"]:active,
.cover-page input[type="date"]:focus,
.cover-page input[type="date"]:active,
.cover-page input[type="text"]:focus,
.cover-page input[type="text"]:active {
    border-color: darkorange;
}

.cover-page .btn-primary,
.cover-page a.cta,
.cover-page button.cta {
    padding: 4px;
    background: darkorange;
    color: black;
    margin: 5px 5px 5px auto;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid lightgrey;
    line-height: 1.5rem;
}

.cover-page .btn:focus,
.cover-page .btn:active:focus,
.cover-page .btn-link.nav-link:focus,
.cover-page .form-control:focus,
.cover-page .form-check-input:focus,
.cover-page button.cta:hover {
    text-decoration: underline;
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
