@using FlashCard.Pages
@using FlashCard.Controls
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Nav
<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Layout.MainLayout).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @* If they aren't logged in, they see this instead of the page *@
                    <RedirectToLogin />
                </NotAuthorized>
                <Authorizing>
                    <main>
                        <article class="content course-container">
                            <div class="flash-card hip-error-trace">
                                <h3 class="loading-shimmer">Verifying Identity...</h3>
                                <p>If you are not redirected automatically, <a href="@(NavigationExtensions.GetUri<Pages.Landing.Login>())">Click here</a>.</p>
                            </div>
                        </article>
                    </main>
                </Authorizing>
            </AuthorizeRouteView>
            @*<RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />*@
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            @* DO NOT leave this empty or put complex logic here yet *@
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <NotFoundControl />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
