@using System.Reflection

@typeparam TModel

<div class="@containerClass auto-form-container">
    @if (_parameterCache != null)
    {
        @foreach (var entry in _parameterCache)
        {
            var controlType = GetControl(entry.Metadata.PropertyType);
            <div class="form-field @entry.Metadata.Name.ToSafe()-form-field">
                @{
                    __builder.OpenComponent(0, controlType);
                    __builder.AddAttribute(1, "Model", entry.Metadata);
                    __builder.AddAttribute(2, "ValueChanged", entry.Params["ValueChanged"]);
                    __builder.AddAttribute(3, "Data", Data);
                    __builder.AddComponentReferenceCapture(4, inst => _componentInstances[entry.Metadata.Name] = inst);
                    __builder.CloseComponent();
                }
            </div>
        }
    }
</div>

@code {
    [Parameter] public IEnumerable<PropertyMetadata>? Model { get; set; }
    [Parameter] public IEnumerable<TModel>? Data { get; set; }
    [Parameter] public EventCallback<Tuple<PropertyMetadata, TModel?, object?>>? ValueChanged { get; set; }

    string? containerClass;
    private Dictionary<string, object> _componentInstances = new();

    public static List<Type> Metas = (Assembly.GetEntryAssembly() ?? Assembly.GetExecutingAssembly()).GetAssemblies().ToMetas();
    private List<(PropertyMetadata Metadata, Dictionary<string, object?> Params)>? _parameterCache;

    // TODO: combine this list with Metas above
    public static readonly Dictionary<Type, List<Type>> SupportedTypes = Metas
        .ToDictionary(m => m, m => m.GetCustomAttributes<SupportsTypeAttribute>().Select(a => a.TargetType).ToList());


    public static Type GetControl(Type modelPropertyType)
    {
        var matches = SupportedTypes.Where(t => t.Value.Any(v => v == modelPropertyType || v.Extends(modelPropertyType))).ToList();
        var ordered = matches.OrderBy(t => t.Value.Any(v => v == modelPropertyType) ? -1 : 0);

        return ordered.FirstOrDefault().Key ?? typeof(TypeControl);
    }


    protected override void OnParametersSet()
    {
        // Only rebuild if the model actually exists and we haven't cached it yet
        if (_parameterCache == null)
        {
            _parameterCache = Model?.Select((prop, i) => (
                prop,
                new Dictionary<string, object?>
                {
                    { "Model", prop },
                    { "ValueChanged", EventCallback.Factory.Create<object?>(this, (val) => { 
                        ValueChanged?.InvokeAsync(new Tuple<PropertyMetadata, TModel?, object?>(prop, Data?.Count() > i ? (Data ?? []).ElementAt(i) : default(TModel), val)); 
                    })}
                }
            )).ToList();
        }

        var modelType = typeof(TModel);

        // Check if it's a generic collection or an array (excluding string)
        bool isEnumerable = modelType != typeof(string) &&
                           (modelType.IsArray ||
                            modelType.GetInterfaces().Any(i => i.IsGenericType && i.GetGenericTypeDefinition() == typeof(IEnumerable<>)));

        if (isEnumerable)
        {
            // Get the inner type name, e.g., List<User> -> "User-list"
            var innerType = modelType.IsArray
                ? modelType.GetElementType()
                : modelType.GetGenericArguments().FirstOrDefault();

            containerClass = $"{(innerType?.Name ?? "enumerable").ToSafe()}-list-container";
        }
        else
        {
            containerClass = $"{modelType.Name.ToSafe()}-form-container";
        }
    }
}
